.hidden {
	display: none;
}


body {
	margin: 0;
	padding: 0;
}

.settings-sidebar {
	flex: 1;
	width: 100px;
	padding: 10px;
	position: sticky;
	top: 30px;
	white-space: nowrap;
	height: 100%;
	overflow: hidden;
	min-width: 100px;
	max-width: 40em;

	& * {
		overflow: hidden;
        text-overflow: ellipsis;
	}

	& div {
		padding: 2px;
	}
	
	& ul {
		list-style-type: none;
	}
	
	& li {
		font-weight: normal;
		padding: 2px;
	}
	
	& li.active {
		font-weight: bold;
	}
	& span.active {
		font-weight: bold;
	}

	& .checklist-container {
		display: flex;
	}
	& .checklist {
		flex: 1;
	}
}

.settings-content {
	flex: 3;
	padding-left: 10px;

	& h1, & h2 {
		margin: 0;
		position: sticky;
		font-weight: 600;
		background-color: var(--vscode-editor-background);
	}
	
	& h1 {
		font-size: 26px;
		border-bottom: 1px solid var(--vscode-settings-headerBorder);
		padding: 10px 0 9px;
		top: 0;
		z-index: 1;
	}
	& h2 {
		font-size: 22px;
		padding: 10px 0 20px;
		top: 55px;
	}
}

div.settings-content.invalid::after {
	position: fixed;
	top:30vh;
	rotate: -45deg;
	font-size: 25vmin;
	color:#ff0000;
	content:'Invalid';
}

.invalid span {
	color:#ff0000;
}


.settings-group {
    flex: 1;
    margin-bottom: 30px;
}

.setting-item {
	display: flex;
	gap: 5px;
	margin-bottom: 5px;

	& label {
        flex: 0.5 1 0%;
		pointer-events: none;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		min-width: 0;
		width: 0;

		.modified &::after {
			font-family: 'codicon';
			content: '\eae2';
			display: inline-block;
			margin-right: 6px;
			cursor: pointer;
			pointer-events: all;
		}
	}
	
	& input[type="checkbox"] {
		flex: 0.5;
	}

	& input[type="text"],
	& textarea,
	& select {
		border: 1px solid var(--vscode-settings-textInputBorder);
		background-color: var(--vscode-settings-textInputBackground);
		color: var(--vscode-settings-textInputForeground);
		padding: 5px;
        flex: 1 1 0%;
		min-width: 0;
		width: 0;
		&::placeholder, &.inherit {
			color: var(--vscode-disabledForeground);
		}
		.modified & {
			background-color: var(--vscode-editor-findMatchHighlightBackground);
		}
		& option {
			background-color: var(--vscode-settings-textInputBackground);
		}
	}

	& textarea {
		resize: none;
		overflow-y: hidden;
		box-sizing: border-box;
	}

	& div.multi {
		display: flex;
		flex-direction: column;
		flex: 1;
		div {
			display: flex;
			flex-direction: row;
		}
	}

	& span {
		flex: 1;
	}
}
/*
.modified:first-child::after {
	font-family: 'codicon';
	content: '\eae2';
	display: inline-block;
	margin-right: 6px;
}
*/

/*
.caret {
	cursor: pointer;
	user-select: none;
}

.caret::before {
	font-family: 'codicon';
	content: '\eab6';
	display: inline-block;
	margin-right: 6px;
}

.caret-down::before {
	font-family: 'codicon';
	content: '\eab4';
}

.caret:not(.caret-down) li {
	display: none;
}
*/

span[contenteditable] {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}